depcomp
ltmain.sh
.project
.cproject
*.libs/
*.deps/
*.o
*.so
*.lo
*.la
*.in
*~
config.h
config.log
config.status
libtool
stamp-h1
*Makefile
aclocal.m4
autom4te.cache/
config/
configure
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
common/base/static-components.h
