CgroupMountpoint=/home/caoj7/cgroup
CgroupAutomount=yes   ##
CgroupReleaseAgentDir=/home/caoj7/cgroup  ##

####################
CgroupSubsystems=cpuset,freezer,cpu,memory
#CgroupReleaseAgent
#TaskAffinityBindType=threads


       

#3. TaskPlugin

#3.1 task/cgrpup for cpuset
ConstrainCores=yes  ###
TaskAffinity=yes

#3.2 task/cgroup for memory
AllowedRAMSpace=95
AllowedSwapSpace=5
ConstrainRAMSpace=yes
ConstrainSwapSpace=yes
MaxRAMPercent=100
MaxSwapPercent=100
MinRAMSpace=30
ConstrainDevices=yes
AllowedDevicesFile=/home/caoj7/cgroup/cgroup_allowed_devices_file.conf
